{% extends "CloudDashboardApp/base.html" %}

{% load static %}

{% block content %}
<!-- Navbar -->
<nav
class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
id="navbarBlur"
data-scroll="true"
>
<div class="container-fluid py-1 px-3">
  <nav aria-label="breadcrumb">
    <ol
      class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5"
    >
      <li class="breadcrumb-item text-sm">
        <a class="opacity-5 " href="{% url 'dashboard' %}">Dashboard</a>
      </li>
      <li
        class="breadcrumb-item text-sm text-dark active"
        aria-current="page"
      >
      <a class="font-weight-bold" href="{% url 'estadistica' %}">Estadísticas</a>
    </li>
    </ol>
    <!-- <h6 class="font-weight-bolder mb-0">Estadísticas</h6> -->
  </nav>
  <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
    <a
      href="javascript:;"
      class="nav-link text-body p-0"
      id="iconNavbarSidenav"
    >
      <div class="sidenav-toggler-inner">
        <i class="sidenav-toggler-line"></i>
        <i class="sidenav-toggler-line"></i>
        <i class="sidenav-toggler-line"></i>
      </div>
    </a>
  </li>
</div>
</nav>
<!-- End Navbar -->

 <!-- covid -->
 <div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div
          class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent"
        >
          <div
            class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1"
          >
          <h6 class="text-white text-capitalize ps-3">GRÁFICA DE COVID-19</h6>
            <div class="chart"></div>
          </div>

        </div>
        <div class="card-body">
          <h6 class="mb-0"></h6>

          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">


                <div class="col-lg-12">

                  <div class="card-body">
                    <div id="traffic-chart" class="traffic-chart">
      
                      <div class="row">
                        <form action="add" method="POST">
                          {% csrf_token %}
                          <div class="mb-3">
      
      
                            <select name="DATACSV" id="lang" style="margin-left: 35px; margin-right: 35px;">
                              <option value="">Seleccione una opcion</option>
                              
                              {% for datalink in datalinks %}
                              <option name="item_text" id="item_text" value="{{ datalink.id }}">{{ datalink.nombre }}</option>
                              {% endfor %}
      
                            </select>
      
                            <button action="add" type="submit" class="btn btn-outline-success">
                              <i class="fa fa-star"></i>
                              &nbsp; CALCULAR Y SUBIR CARACTERIZACION
                            </button>
                          
                            <br>
                            <label style="margin-left: 35px;">Se subira a github</label>
                            <br>
                          </div>
                               
                        </form>
      
                      </div>
      
      
      
                    </div>
                  </div>
                </div>


              </div>
            </div>

            <!-- /.card-body -->
          </div>

          <hr class="dark horizontal" />
          <div class="d-flex">
            <i class="material-icons text-sm my-auto me-1">help</i>
            <p class="mb-0 text-sm">
              Seleccione la región de arriba usando el mouse para
              acercar la gráfica.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ---- -->



<!-- <div class="content">

  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="height:500px;">
          <div class="card-body">
            <h4 class="box-title">CARACTERIZACION</h4>
          </div>



          <div class="col-lg-12">

            <div class="card-body">
              <div id="traffic-chart" class="traffic-chart">

                <div class="row">
                  <form action="add" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">


                      <select name="DATACSV" id="lang" style="margin-left: 35px; margin-right: 35px;">
                        <option value="">Seleccione una opcion</option>
                        
                        {% for datalink in datalinks %}
                        <option name="item_text" id="item_text" value="{{ datalink.id }}">{{ datalink.nombre }}</option>
                        {% endfor %}

                      </select>

                      <button action="add" type="submit" class="btn btn-outline-success">
                        <i class="fa fa-star"></i>
                        &nbsp; CALCULAR CARACTERIZACION
                      </button>

                      <button type="button" class="btn btn-outline-danger">
                        <i class="fa fa-exclamation-triangle"></i>
                        &nbsp; Cancelar
                      </button>
                      <br>
                      <br>

                      <textarea readonly class="form-control"
                        style="height: 200px; width: 750px; margin-left: 35px; margin-right: 35px;" rows="3">
{% if dMR or y or y2  %}Calculando datos de la matriz: {{dMR}}

Calculando datos normalizados: {{y}}

Calculando datos caracterizados: {{y2}}
{% endif %}</textarea>
                      <br>
                      <label style="margin-left: 35px;">Tiempo de ejecucucion: {{Final}}</label>
                      <br>
                    </div>
                    <div class="col-lg-6">
                      <div class="card" style="width: 400px; margin-left: 85px; margin-top: 25px;">
                        <div class="progress mb-2">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            25%
                          </div>
                        </div>
                      </div>

                    </div>

                  </form>

                </div>



              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div> -->



{% endblock %}