{% extends "CloudDashboardApp/base.html" %}

{% load static %}

{% block content %}
<!-- Content -->
<div class="content">
  <!-- Animated -->


  <div class="animated fadeIn">
    <!--  Traffic  -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="box-title">Grafica</h4>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">
                
<svg class="svga" style="height: 500px; width:800px;" ></svg>
               
              </div>
            </div>
            
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.row -->
          <div class="card-body"></div>
        </div>
      </div>
      <!-- /# column -->
    </div>



  <!--  /Traffic -->
  <div class="clearfix"></div>
  <!-- Orders -->
        <!-- Orders -->
        <div class="orders">
          <div class="row">
            <div class="col-xl-8">
              <div class="card">
                <div class="card-body">
                  <h4 class="box-title">Orders</h4>
                </div>
                <div class="card-body--">
                  <div class="table-stats order-table ov-h">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="serial">#</th>
                          <th>Jacobi</th>
                          <th>Time</th>
                          <th>Day</th>
                          <th>N</th>
                          <th>Prop</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="serial">1.</td>
                            <div class="round-img">
                              <a href="#">
                              </a>
                            </div>
                          </td>
                          <td></td>
                          <td><span class="name"></span></td>
                          <td><span class="product"></span></td>
                          <td><span class="count"></span></td>
                          <td>
                            <span class="badge badge-complete"></span>
                          </td>
                        </tr>
                        <tr>
                          <td class="serial">2.</td>
                              <a href="#">
                              </a>
                            </div>
                          </td>
                          <td></td>
                          <td><span class="name"></span></td>
                          <td><span class="product"></span></td>
                          <td><span class="count"></span></td>
                          <td>
                            <span class="badge badge-complete"></span>
                          </td>
                        </tr>
                        <tr>
                          <td class="serial">3.</td>
                            <div class="round-img">
                              <a href="#">
                              </a>
                            </div>
                          </td>
                          <td></td>
                          <td><span class="name"></span></td>
                          <td><span class="product"></span></td>
                          <td><span class="count"></span></td>
                          <td>
                            <span class="badge badge-complete"></span>
                          </td>
                        </tr>
                        <tr>
                          <td class="serial">4.</td>
                            <div class="round-img">
                              <a href="#">
                              </a>
                            </div>
                          </td>
                          <td></td>
                          <td><span class="name"></span></td>
                          <td><span class="product"></span></td>
                          <td><span class="count"></span></td>
                          <td>
                            <span class="badge badge-pending"></span>
                          </td>
                        </tr>
                        <tr class="pb-0">
                          <td class="serial">5.</td>
                            <div class="round-img">
                              <a href="#">
                              </a>
                            </div>
                          </td>
                          <td></td>
                          <td><span class="name"></span></td>
                          <td><span class="product"></span></td>
                          <td><span class="count"></span></td>
                          <td>
                            <span class="badge badge-complete"></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 mb-4">
            <div class="card-group">
              <div class="card col-md-6 no-padding">
                <div class="card-body">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-users"></i>
                  </div>

                  <div class="h4 mb-0">
                    <span class="count">87500</span>
                  </div>

            <small class="text-muted text-uppercase font-weight-bold">
                    Visitors
                  </small>
                  <div
                    class="progress progress-xs mt-3 mb-0 bg-flat-color-1"
                    style="width: 40%; height: 5px;"
                  ></div>
                </div>
              </div>
              <div class="card col-md-6 no-padding">
                <div class="card-body">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-user-plus"></i>
                  </div>
                  <div class="h4 mb-0">
                    <span class="count">385</span>
                  </div>
                  <small class="text-muted text-uppercase font-weight-bold">
                    New Clients
                  </small>
                  <div
                    class="progress progress-xs mt-3 mb-0 bg-flat-color-2"
                    style="width: 40%; height: 5px;"
                  ></div>
                </div>
              </div>
              <div class="card col-md-6 no-padding">
                <div class="card-body">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-cart-plus"></i>
                  </div>
                  <div class="h4 mb-0">
                    <span class="count">1238</span>
                  </div>
                  <small class="text-muted text-uppercase font-weight-bold">
                    Products sold
                  </small>
                  <div
                    class="progress progress-xs mt-3 mb-0 bg-flat-color-3"
                    style="width: 40%; height: 5px;"
                  ></div>
                </div>
              </div>
              <div class="card col-md-6 no-padding">
                <div class="card-body">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-pie-chart"></i>
                  </div>
                  <div class="h4 mb-0">
                    <span class="count">28</span>
                    %
                  </div>
                  <small class="text-muted text-uppercase font-weight-bold">
                    Returning Visitors
                  </small>
                  <div
                    class="progress progress-xs mt-3 mb-0 bg-flat-color-4"
                    style="width: 40%; height: 5px;"
                  ></div>
                </div>
              </div>
            </div>
          </div>-->
    <div class="clearfix"></div>
    <!-- Footer -->
    <footer class="site-footer">
      <div class="footer-inner bg-white">
        <div class="row">
          <div class="col-sm-6">
            Copyright &copy; 2018 Ela Admin
          </div>
          <div class="col-sm-6 text-right">
            Designed by
            <a href="https://colorlib.com">Colorlib</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- /#right-panel -->
{% endblock %}