{% extends "CloudDashboardApp/base.html" %}

{% load static %}

{% block content %}
<!-- Content -->
<div class="content">
  <!-- Animated -->


  <div class="animated fadeIn">
    <!--  Traffic  -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 lang="es" class="box-title">GRÁFICA DE COVID-19</h4>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">

                <svg class="svgCovid" style="height: 500px; width:900px;"></svg>

              </div>
            </div>

            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.row -->
        <div class="card-body"></div>
      </div>
    </div>
    <!-- /# column -->
  </div>
  <!--  /Traffic -->
  <div class="animated fadeIn">
    <!--  Traffic  -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="box-title">GRÁFICA DE INFLUENZA</h4>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">

                <svg class="svgInfluenza" style="height: 500px; width:900px;"></svg>

              </div>
            </div>

            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.row -->
        <div class="card-body"></div>
      </div>
    </div>
    <!-- /# column -->
  </div>
  <!--  /Traffic -->
  <div class="animated fadeIn">
    <!--  Traffic  -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="box-title">GRÁFICA DE DENGUE</h4>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body" >

                <svg class="svgDengue" style="height: 500px; width:900px;"></svg>

              </div>
            </div>

            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.row -->
        <div class="card-body"></div>
      </div>
    </div>
    <!-- /# column -->
  </div>
  <!--  /Traffic -->
  <div class="animated fadeIn">
    <!--  Traffic  -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="box-title">GRÁFICA DE SARAMPIÓN</h4>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card-body">

                <svg class="svgSarampion" style="height: 500px; width:900px;"></svg>

              </div>
            </div>

            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.row -->
        <div class="card-body"></div>
      </div>
    </div>
    <!-- /# column -->
  </div>
  <!--  /Traffic -->
</div>
<!-- /#right-panel -->
{% endblock %}