{% extends "CloudDashboardApp/base.html" %}

{% load static %}

{% block content %}
<div class="breadcrumbs">
  <div class="breadcrumbs-inner">
    <div class="row m-0">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Statistics</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="{% url 'index' %}">Dashboard</a></li>
              <li><a href="{% url 'Statistics' %}">Statistics</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  
  <div class="animated fadeIn">
    
    <div class="row">
      
      <div class="col-lg-12">
        
        <div class="card" style="height:300px;">
          
          <div class="card-body">
            
            <h4 class="box-title">COVID-19</h4>
          </div>

          
          <div class="col-lg-12">
            
            <div class="card-body">
              
              <div id="traffic-chart" class="traffic-chart">
                
                <div class="row">
                  
                  <div class="col-sm-12 mb-4">
                    
                    <div class="card-group">
                      
                      <div class="card col-md-6 no-padding">
                        
                        <div class="card-body">
                          
                          <div class="h1 text-muted text-right mb-4">
                            <i class="ti-stats-down"></i>
                          </div>


                          <div class="h4 mb-0">
                            <span class="minC"></span>
                          </div>



                          <small class="text-muted text-uppercase font-weight-bold">
                            Mínimo
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="ti-stats-up"></i>
                          </div>


                          <div class="h4 mb-0">
                                                        <span class="maxC"></span>
                          </div>


                          <small class="text-muted text-uppercase font-weight-bold">
                            Máximo
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-2" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-pie-chart"></i>
                          </div>

                          <div class="h4 mb-0">
                                                        <span class="meanC"></span>
                          </div>

                          <small class="text-muted text-uppercase font-weight-bold">
                            Promedio
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-area-chart"></i>
                          </div>

                          <div class="h4 mb-0">
                            <span class="stdC"></span>
                          </div>

                          <small class="text-muted text-uppercase font-weight-bold">
                            Desviación Estándar
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-4" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>

                </div>



              </div>
            </div>
          </div>




        </div>


      </div>
    </div>
  </div>

  <div class="clearfix"></div>


  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="height:300px;">
          <div class="card-body">
            <h4 class="box-title">INFLUENZA</h4>
          </div>
          <div class="col-lg-12">
            <div class="card-body">
              <div id="traffic-chart" class="traffic-chart">
                <div class="row">
                  <div class="col-sm-12 mb-4">
                    <div class="card-group">
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="ti-stats-down"></i>
                          </div>


                          <div class="h4 mb-0">
                            <span class="minA"></span>

                          </div>



                          <small class="text-muted text-uppercase font-weight-bold">
                            Mínimo
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="ti-stats-up"></i>
                          </div>


                          <div class="h4 mb-0">
                            <span class="maxA"></span>

                          </div>


                          <small class="text-muted text-uppercase font-weight-bold">
                            Máximo
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-2" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-pie-chart"></i>
                          </div>

                          <div class="h4 mb-0">
                            <span class="meanA"></span>
                          </div>



                          <small class="text-muted text-uppercase font-weight-bold">
                            Promedio
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-area-chart"></i>
                          </div>

                          <div class="h4 mb-0">
                            <span class="stdA"></span>
                          </div>

                          <small class="text-muted text-uppercase font-weight-bold">
                            Desviación Estándar
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-4" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>

                </div>



              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>


  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="height:300px;">
          <div class="card-body">
            <h4 class="box-title">DENGUE</h4>
          </div>



          <div class="col-lg-12">

            <div class="card-body">
              <div id="traffic-chart" class="traffic-chart">

                <div class="row">

                  <div class="col-sm-12 mb-4">
                    <div class="card-group">
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="ti-stats-down"></i>
                          </div>


                          <div class="h4 mb-0">
                            <span class="minD"></span>
                          </div>
                         
                          <small class="text-muted text-uppercase font-weight-bold">
                            Mínimo
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="ti-stats-up"></i>
                          </div>

                          <div class="h4 mb-0">
                            <span class="maxD"></span>
                          </div>

                          <small class="text-muted text-uppercase font-weight-bold">
                            Máximo
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-2" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-pie-chart"></i>
                          </div>

                          <div class="h4 mb-0">
                            <span class="meanD"></span>
                          </div>

                          <small class="text-muted text-uppercase font-weight-bold">
                            Promedio
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-area-chart"></i>
                          </div>

                          <div class="h4 mb-0">
                            <span class="stdD"></span>
                          </div>

                          <small class="text-muted text-uppercase font-weight-bold">
                            Desviación Estándar
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-4" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>



              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <d iv class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="height:300px;">
          <div class="card-body">
            <h4 class="box-title">SARAMPIÓN</h4>
          </div>



          <div class="col-lg-12">

            <div class="card-body">
              <div id="traffic-chart" class="traffic-chart">

                <div class="row">
                  <div class="col-sm-12 mb-4">
                    <div class="card-group">
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="ti-stats-down"></i>
                          </div>

                          <div class="h4 mb-0">
                            <span class="minS"></span>
                            
                          </div>

                          <small class="text-muted text-uppercase font-weight-bold">
                            Mínimo
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="ti-stats-up"></i>
                          </div>

                          <div class="h4 mb-0">
                            <span class="maxS"></span>
                        </div>

                          <small class="text-muted text-uppercase font-weight-bold">
                            Máximo
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-2" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-pie-chart"></i>
                          </div>
                          <div class="h4 mb-0">
                            <span class="meanS"></span>
                          </div>

                          <small class="text-muted text-uppercase font-weight-bold">
                            Promedio
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                      <div class="card col-md-6 no-padding">
                        <div class="card-body">
                          <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-area-chart"></i>
                          </div>

                          <div class="h4 mb-0">
                            <span class="stdS"></span>
                          </div>

                          <small class="text-muted text-uppercase font-weight-bold">
                            Desviación Estándar
                          </small>
                          <div class="progress progress-xs mt-3 mb-0 bg-flat-color-4" style="width: 40%; height: 5px;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                </div>



              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
</div>
<div class="clearfix"></div>





{% endblock %}