{% extends "CloudDashboardApp/base.html" %}

{% load static %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
  data-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm">
          <a class="opacity-5 " href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item text-sm text-dark font-weight-bold active" aria-current="page">

          <a class="font-weight-bold" href="{% url 'tablas' %}">Tablas</a>


        </li>
      </ol>
      <h6 class="font-weight-bolder mb-0">Tablas</h6>
    </nav>

  </div>
</nav>
<!-- End Navbar -->

<!-- Tablas  -->
<div class="container-fluid py-4">
  <div class="row">
    <!-- Tabla COVID-19 -->
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-success shadow-success border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">COVID-19</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <div class="col-lg-12">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h1></h1>
                    <!-- Contenido de la tabla -->
                    <div id="table-containerCovid"></div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Tabla Sarampion -->
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Sarampion</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">

            <div class="col-lg-12">

              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h1></h1>
                    <!-- Contenido de la tabla -->
                    <div id="table-containerSarampion"></div>
                  </div>
                </div>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
    <!-- Tabla Dengue -->
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Dengue</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <div class="col-lg-12">

              <div class="card-body">

                <div class="row">
                  <div class="col">
                    <h1></h1>
                    <!-- Contenido de la tabla -->
                    <div id="table-containerDengue"></div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Tabla Influenza -->
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Influenza</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">

            <div class="col-lg-12">

              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h1></h1>
                    <!-- Contenido de la tabla -->
                    <div id="table-containerInfluenza"></div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}